.body {
    font: arial;
    border: 1px #DDDDDD;
    text-align: center;
}
* {
    box-sizing: border-box;
}

/* configuração da tabela */
.tabela {
    font-size: 50px;
    display: flexbox;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 800%;
    border-style: 1px solid;
}

.cabeçalho {
    font-size: 13px;
    color: #999999;
    font-weight: bold;
    text-align: center;
    border: 1px solid #CCCCCC;
}

.pos:nth-child(n + 1){
    font-size: 14px;
    color: #666666;
    text-align: center;
}

.poshold:nth-child(n + 1){
    font-size: 14px;
    color: #666666;
    text-align: center;
}

.pos {
     text-align: center;
     width: 0 auto;
     margin-left: 0 auto;
     height: 0 auto;
     border-style: 1px solid;  
}

.poshold{
    text-align: center;
    width: 0 auto;
    margin-left: 0 auto;
    height: 0 auto;
    border-style: 1px solid;
}

.posc1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #003366;
}

.posc2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #1398BE;
}

.posc3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #DE9800;
}

.posc4 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #CCCCCC;
}

.posc5 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #C91B04;
}

.nomtim {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: left;
}

.pontos{
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: #F7F7F7;
}

.bgroung {
    background-color: #F7F7F7;
}

.poshold {
     border-bottom: 2px solid #CCCCCC;
}


/* configuração das legendas */
 .quad {
    width: 10px;
    height: 10px;
    background-color: gray;    
    border-radius: 15%;
 }

 .quad:nth-child(1) {
    background-color: #003366;
 }
 .quad:nth-child(4) {
    background-color: #1398BE;
 }
 .quad:nth-child(6) {
    background-color: #DE9800;
 }
 .quad:nth-child(8) {
    background-color: #C91B04;
 }
 

 .legenda {
    list-style: none;
    font-size: 10px;
    color: #8F8F8F;
    text-align: right;
    display: flex;
    align-items: center;
    padding: auto;
    justify-content: space-around;
    width: 400px;
    padding-left: 10px;
    margin: -5px;
 }

 .leg2 {
    list-style: none;

    font-size: 10px;
    color: #555555;
    text-align: right;
    display: flex;
    align-items: center;
    padding: auto;
    justify-content: space-around;
    width: 500px;
    height: 15px;
    padding-left: 10px;
    margin: -2px;
 }

 .tit {
    font-weight: bold;
    text-align: right;
 }